In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# import lightgbm as lgb

In [3]:
data = pd.read_csv("Data/Test_Claim_master.csv", na_values="?")
data.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleAttribute,VehicleAttributeDetails
0,Cust10008,05-02-2015,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,84,10-05-1998,State2,500/1000,2000,1006.00,0,own-child,VehicleYOM,1995
1,Cust10010,13-01-2015,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,232,10-11-2011,State3,100/300,500,1279.17,0,unmarried,VehicleYOM,2006
2,Cust10015,05-01-2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,...,218,17-07-2010,State2,250/500,1000,1454.67,1235986,other-relative,VehicleYOM,2010
3,Cust10020,03-01-2015,Vehicle Theft,NaN,Trivial Damage,NaN,State7,City5,Location 1449,10,...,205,10-09-2000,State3,500/500,2000,1287.76,5873212,wife,VehicleModel,TL
4,Cust1003,22-02-2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,...,134,06-09-2000,State3,100/300,2000,1413.14,5000000,own-child,VehicleMake,Dodge

In [ ]:
data.describe()

In [ ]:
# Dropping columns 
# data.drop('_c39',axis=1,inplace=True)

In [ ]:
#Checking missing values
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [ ]:
# Missing values statistics
missing_values = missing_values_table(data)
missing_values